<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.imadedwimagitadirtana_1202150054_si3906.napkeen">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".TambahRestoran"
            android:label="Tambah Restoran"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".UbahPassword"
            android:label="Ubah Password"
            android:parentActivityName=".Pengaturan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pengaturan" />
        </activity>
        <activity
            android:name=".Pengaturan"
            android:label="Pengaturan"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".HapusAkun"
            android:label="Hapus Akun"
            android:parentActivityName=".Pengaturan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pengaturan" />
        </activity>
        <activity
            android:name=".UbahEmail"
            android:label="Ubah Email"
            android:parentActivityName=".Pengaturan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pengaturan" />
        </activity>
        <activity android:name=".UserProfil" android:label="Profil" android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />

        </activity>
    </application>

</manifest>